# Backend API
fastapi
uvicorn[standard]
python-multipart
python-dotenv

# AI / RAG
langchain
langchain-community
langchain-core
langchain-text-splitters

# Embeddings / Models
sentence-transformers

# Document Processing
pypdf
reportlab

# Vector Database
faiss-cpu

# LLM API
groq

# Database
sqlalchemy
psycopg2-binary

# Utilities
numpy
pandas
tqdm
pydantic
pydantic-settings
requests